<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', todos_path %></li>
  <li><%= link_to 'New todo', new_todo_path %></li>
</ul>

<h1>Listing todos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td>
          <!-- span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{todo.created_at.strftime("%m/%e/%Y at %w:%M %p")}, Last modified on #{todo.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>" -->
            <!-- In-place editing based on https://github.com/klenis/bootstrap-x-editable-rails-demo-->
            <a href="#" data-xeditable="true" data-pk="<%= todo.id %>" data-model="todo" data-name="title" data-url="<%= todo_url(todo) %>" data-title="Todo Title">
              <%= todo.title %>
            </a>
          </span>
        </td>
        <td>
          <% if todo.notes? %>
            <!-- Button trigger modal -->
            <button class="btn btn-link" data-toggle="modal" data-target="#todo-<%= todo.id %>-notes">
              View notes
            </button>

            <!-- Modal -->
            <div class="modal fade" id="todo-<%= todo.id %>-notes" tabindex="-1" role="dialog" aria-labelledby="todo-<%= todo.id %>-label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="todo-<%= todo.id %>-label">Notes</h4>
                  </div>
                  <div class="modal-body">
                    <%= todo.notes %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if todo.notes? %>
            <button type="button" class="btn btn-link has-popover" data-toggle="popover" title="Notes" data-content="<%= todo.notes %>">View notes (popover)</button>
          <% end %>
        </td>
        <td><%= link_to 'Show', todo, class: 'btn btn-primary btn-xs' %></td>
        <td>
			<%= link_to edit_todo_path(todo), class: 'btn btn-info btn-xs' do %>
				<i class="glyphicon glyphicon-edit"></i> Edit
			<% end %>
		</td>
        <td>
			<%= link_to todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do %>
				<i class="glyphicon glyphicon-remove"></i> Destroy
			<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_todo_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Todo
<% end %>
